html { background-color: inherit; }

.stripes {
    background: repeating-linear-gradient(
                        45deg,
                        #001d0c,
                        #001d0c 10px,
                        #461208 10px,
                        #461208 20px
                    );
}

.reveal pre code { background-color: inherit; }

